.header {
    font-size: 40px;
     font-family: Great Vibes;
     background-color: beige;
     text-align: center;
}
.intro {
    text-align: center;
}
.argentina {
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    opacity: .85;
    background-color: rgb(106, 204, 53)
}
.brazil {
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    opacity: .85;
    background-color: rgb(242, 223, 46);
}
.stkitts {
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    opacity: .85;
    background-color: lightcoral
}