body {
    background-color: black;
    background-position: center;
    position: relative;
}
h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    border-radius: 46%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Intro {
    text-align: center;
}
.section {
    color: white;
    padding: 20px;
}
.North {
    border: 1px solid white;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.South {
    border: 1px solid white;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.Europe {
    border: 1px solid white;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.Asia {
    border: 1px solid white;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.Africa {
    border: 1px solid white;
    margin-left: 10px;
    text-align: center;
    color: white;
}
.Australia {
    margin-left: 10px;
    text-align: center;
    color:white;
}
#north {
    justify-content: space-around;
}
.form {
    text-align: center;
    margin-top: 10px;
}